<tr id="mapping_<%= mapping.id %>">
  <td class="mapping-url"><%= link_to truncate(normalize_title(mapping.title), :length => 70), edit_mapping_path(mapping), :title => "Edit mapping" %> <span><%= link_to truncate(humanize_url(mapping.old_url), :length => 75), mapping.old_url, :title => "Visit this original URL" %></span></td>
  <td><%= mapping.tag_for('status') %></td>
  <td><%= mapping.tag_for('destination') %></td>
  <td><%= link_to "Edit", edit_mapping_path(mapping) %></td>
</tr>