<div class="well">
  <h3><%= progress.percentage %>% <%= progress.tag %> - <%= progress.count %> of <%= pluralize progress.total, "item" %></h3>
  <div class="progress progress-success">
    <div class="bar" style="width: <%= progress.percentage %>%;"></div>
  </div>
</div>