<div class="row">
  <div class="span8">
    <h1>List of mappings</h1>
  </div>
  <div class="span4" style="text-align: right">
    <%= link_to "Open in browser", browser_path(active_tags.join('/')), :class => 'btn btn-info' %>
    <%= link_to "Add a new mapping", new_mapping_path, :class => 'btn' %>
  </div>
</div>

<%= render :partial => "selected_filter" %>

<div class="row">
  <div class="span3">
    <%= render :partial => "tag_list" %>
  </div>
  <div class="span9">

    <%= progress_bar_for @progress %>

    <div class="mappings_pagination">
      <%= render "pagination" %>
    </div>

    <table class="table table-striped mappings-table table-bordered">
      <thead>
        <tr>
          <th style="width: 64%">Title</th>
          <th style="width: 17%">Status</th>
          <th style="width: 15%">Destination</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="mappings">
        <%= render @mappings %>
      </tbody>
    </table>

    <div class="mappings_pagination">
      <%= render "pagination" %>
    </div>
  </div>
</div>