<h2>Dashboard</h2>

<div class="row dashboard">
  <div class="span6">
    <h3>Overall</h3>
    <%= progress_bar_for @overall_progress %>

    <h3>Friendly URLs</h3>
    <%= progress_bar_for @friendly_url_progress %>

    <h3>Spreadsheet Mapping Exercise</h3>
    <%= progress_bar_for @mapping_exercise_progress %>

    <h3>Crawler</h3>
    <%= progress_bar_for @crawler_progress %>

    <h3>Apache Logs</h3>
    <%= progress_bar_for @apache_logs_progress %>
  </div>
  <div class="span6">
  </div>
</div>